/* COLOURS */
/* PRIMARY --- Office Green #008000 */
/* SECONDARY --- Raspberry #DD1155 */
/* ACCENT --- Silver Lake Blue #5688C7 */
/* BACKGROUND --- Jet #2F2F2F */
/* TEXT --- Jasmine #FFEE88 */

:root {
    /* LIGHT MODE */
    --primary: #008000;
        --primary-light: #76cf76;
        --primary-dark: #035403;
    --secondary: #5688C7;
        --secondary-light: #86b1e6;
        --secondary-dark: #3f6da4;
    --accent: #DD1155;
        --accent-light: #e45182;
        --accent-dark: #a61042;
    --background: #f8eeb5;
    --text: #2F2F2F;
    --nav-light: rgba(255, 255, 255, 0.7);
    --nav-dark: rgba(149, 186, 246, 0.3);
    --bg-image: url('light-background.jpg');
    
}
[data-theme="dark"] {
    /* DARK MODE */
    --primary: #008000;
        --primary-light: #3ca23c;
        --primary-dark: #035403;
    --secondary: #DD1155;
        --secondary-light: #e45182;
        --secondary-dark: #a61042;
    --accent: #5688C7;
        --accent-light: #86b1e6;
        --accent-dark: #3f6da4;
    --background: #2F2F2F;
    --text: #f8eeb5;
    --nav-light: rgba(50, 50, 50, 0.7);
    --nav-dark: rgba(251, 112, 156, 0.3);
    --bg-image: url('dark-background.png');
}


/* HEADING --- playfair disp */
/* BODY --- poppins */